$containerWidth: 940px;
$baseFontSize: 18px;

$tablets: 768px;
$phones: 480px; 

$dark: #313131;
$yellow: #FEDB3F;

$tablets: 768px;
$phone: 480px;
$iphone5: 320px;

$z-fixed-menu: 100;

@import "media";

@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');

@import "layout/base";

@import "blocks/hero";
@import "blocks/header";
@import"blocks/hamburger";
@import "blocks/features";
@import "blocks/feature";
@import "blocks/section";
@import "blocks/headline";
@import "blocks/benefits";
@import "blocks/benefit";
@import "blocks/product-section";
@import "blocks/team-section";
@import "blocks/reviews";
@import "blocks/interactive-avatar";
@import "blocks/order-section";
@import "blocks/form";
@import "blocks/radio";
@import "blocks/map-section";
@import "blocks/footer";
@import "blocks/fixed__menu";
@import "blocks/fullscreenmenu";
@import "blocks/modal";