.headline__title {
    margin-bottom: rem(17px);
    font-size: rem(48px);

    @include phones {
        font-size: rem(35px);
    }

    @include iphone5 {
        padding-top: rem(15px);
    }
}

.headline__subtitle {
    padding: 0 26%;
    margin-bottom: rem(50px);

    @include phones {
        padding: 0;
    }
}