.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list  {
    display: flex;
    align-items: center;
}

.menu__item {
    font-weight: bold;
    margin-right: 22px;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
}

.phone-number {
    font-style: 22px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon {
    margin-right: 6px;
    &--img {
        width: 14px;
        height: 14px;
    }
}