.hero {
    background: url("../img/headpic.png") center top no-repeat;
    background-size: cover;
    background-color: $dark;
    height: 100vh;
    min-height: rem(650px);
    color: #fff;
}

.hero__title-section {
    width: 42%;
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(29px) 0 rem(70px);
}

.hero__main-title {
    font-size: rem(48px);
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: rem(17px);
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(39px);
    padding-right: 5%;
}