.order-section {
    background: url("../img/order.jpg"), url("../img/order.jpg") center top no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: #FFFFFF;

}

.section__title--bright {
    color: #FFFFFF;
}