.player__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* YouTube API
.player {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__splash {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/player.png) center center/cover no-repeat;
        cursor: pointer;
    }

    &__controls {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: rem(35px);
        background: #3e3e3e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 rem(25px);
    }

    &__start {
        border: none;
        background-color: #3e3e3e;
        padding: 0;
            position: absolute;
            transform: translate(rem(-20px), 0);
            border: rem(10px) solid transparent;
            width: 0;
            height: 0;
            border-left-color: #EDEDED;
            border-right-width: 0;
        
    }

    &__playback {
        height: rem(16px);
        width: rem(446px);
        position: relative;

        &::before {
            content: "";
            height: rem(4px);
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            background: #626262;
            transform: translateY(-50%);
        }

        &-button {
            background: #626262;
            background-repeat:no-repeat;
            border: none;
            width: rem(12px);
            height: rem(12px);
            padding: 0;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 0;
        }
    }
}

.player.active .player__splash {
    display: none;
}

.player.paused {
    .player__start {
        width: rem(14px);
        height: rem(14px);
        border: none;

        &:after,
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 5px;
            top: 0;
            bottom: 0;
            background: #626262;
        }
    }

    &:after {
        right: 0;
    }

    &:before {
        left: 0;
    }
}

.player-section__container {
    max-width: rem(662px);
    width: 100%;
}*/

.section__title {
    @include phones {
        font-size: rem(30px);
    }
}

.video__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.video__player {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#player {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video__player-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &--hidden {
        opacity: 0;
    }

    @include phones {
        width: 45px;
        height: 65px;
    }
}

.video__toolbar {
    height: rem(35px);
    background-color: #3e3e3e;
    display: flex;
}

.duration {
    display: flex;
    align-items: center;
    flex: 1;
}

.duration__img {
    padding: rem(5px) rem(20px);
    cursor: pointer;
    height: 70%;
}

.pause__img {
    display: none;
    padding: rem(5px) rem(20px);
    cursor: pointer;
    height: 70%;
}

.duration__length {
    width: 100%;
    height: rem(4px);
    border-radius: 1px;
    background-color: $yellow;
    appearance: none;
    outline: none;
}

.duration__length--other {
    width: rem(58px);
    height: rem(4px);
}

.duration__length::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: $yellow;
    cursor: pointer;
    width: rem(13px);
    height: rem(13px);
    border-radius: 50%;
}

.duration__length::-ms-track {
    width: 100%;
    height: rem(8.4px);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: rem(16px) 0;
    color: transparent;
}

.sound {
    display: flex;
    align-items: center;
    margin: 0 rem(25px);
}

.sound__mic {
    cursor: pointer;
}

.sound__volume {
    margin-left: rem(10px);
    margin-top: rem(-5px);
}